.venv
chromedriver-win64/chromedriver.exe
chromedriver-win64/LICENSE.chromedriver
chromedriver-win64/THIRD_PARTY_NOTICES.chromedriver
jobs_data.csv
jobs_data.json
jobs_data_test.json
sent_messages.json
